@charset "utf-8";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* body */
.all_content {
    background: #ECF1F6;
}

ul,
li {
    list-style: none;
}

/* サイドバー */
.sidebar {
    width: 175px;
    min-height: 100vh;
    background-color: #03AAD2;
    font-weight: bold;
}

.main-container {
    width: 100%;
}

.sidebar p a {
    color: #FFF;
}

/* トップページ */
.user_status {
    border-radius: 10px;
    background: #FFF;
}

/* スクール予約関連 */
.day-blank {
    background: #D3D3D3;
}

.day-sat {
    color: #0000FF;
}

.day-sun {
    color: #FF0000;
}

.past-day {
    background: #EEE;
}

.calendar-td {
    min-width: 100px;
}

.calendar-color {
    color: #000;
}

.day_part {
    color: #494949;
    font-size: 12px;
}

.adjust-table {
    /* width: 70% !important; */
}

.adjust-table td {
    padding: 0 !important;
}

.adjust-area p {
    justify-content: space-around;
    color: #000;
}

.adjust-table-btn {
    width: 70%;
}

.btn0 {
    border-radius: .25rem;
    padding: 7px 30px;
    /* margin-right: 400px */
}

.btn1 {
    border-radius: .25rem;
    padding: 5px 30px;
    border: none;
}

.collect_btn {
    display: flex;
}

.btn-danger-calendar {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    margin-left: auto;
}

/* モーダル */
.modal {
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}

.modal__bg {
    background: rgba(0, 0, 0, 0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
}

.modal__content {
    background: #fff;
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
}

/* 掲示板 */
.sub_categories {
    display: none;
}

.post_create_area {
    background: #FFF;
    border-radius: 10px;
}

.post_create_area textarea {
    resize: none;
    height: 300px;
    white-space: pre-wrap;
}

.detail_container {
    background: #FFF;
}

.post_area {
    background: #FFF;
    border-radius: 10px;
}

.post_bottom_area {
    justify-content: space-between;
}

.like_btn,
.un_like_btn {
    cursor: pointer;
}

.un_like,
.un_like_btn {
    color: #E2254D;
}

.error_message {
    font-size: 12px;
    color: red;
}

.post_reaction {
    margin-left: auto;
    display: flex;
}

.d-flex {
    width: 100%
}

.post_btn_gray {
    background-color: gray;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    line-height: 1;
    padding: 2px;
}

/* 掲示板 詳細画面 */
.contributor {
    font-size: 12px;
    color: #999;
    font-weight: bold;
}

.detsail_post_title {
    font-size: 14px;
}

.detsail_post {
    font-size: 12px;
    color: #9E9E9E;
}

.detail_inner_head {
    display: flex;
    /* justify-content: space-between; */
}

.edit-modal-open {
    cursor: pointer;
}

.modal-inner-body textarea {
    height: 150px;
    resize: none;
}

.edit-modal-btn {
    justify-content: space-between;
}

.edit_delete {
    margin-left: auto;
}

/* 掲示板 コメント */
.comment_container {
    background: #FFF;
}

.comment_area p,
.comment_area input {
    font-size: 12px;
    font-weight: bold;
}

.comment_area textarea {
    height: 300px;
    resize: none;
}

.comment_container span {
    font-size: 12px;
}

.post_status span {
    font-size: 12px;
}

/* 掲示板　カテゴリー */
.category_area {
    background: #FFF;
    border-radius: 10px;
}

.category_box {
    border-radius: 5px;
    padding: 3px;
    background: #999;
    font-size: 10px;
    color: #FFF;
}

.category_btn {
    /* font-size: 12px; */
    border-radius: 5px;
    padding: 0 5px;
    border: none;
    background: #03AAD2;
    color: #FFF;
}

.main_categories span,
.sub_categories li input {
    list-style: none;
    cursor: pointer;
}

/* ユーザー検索 */
.reserve_users_area {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    margin: 10px auto;
    height: 80vh;
    overflow: scroll;
    padding: 10px;
    background: #FFF;
    border-radius: 5px;
}

.reserve_users_area span {
    font-size: 12px;
}

.one_person {
    width: 185px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2);
    margin: 5px;
    padding: 0 5px 5px;
}

.search_conditions span {
    cursor: pointer;
    font-size: 20px;
}

/* .search_conditions_inner { */
/* display:none; */
/* background: #FFF; */
/* } */


.subject_edit_btn {
    cursor: pointer;
    position: relative;
    /* 矢印の位置調整のため */
    padding-right: 45px;
    font-size: 16px;
    color: #00bfff;
}

.subject_inner {
    display: none;
}

.subject_edit_btn::after {
    border-right: solid 2px #3b3939;
    border-top: solid 2px #3b3939;
    content: "";
    display: block;
    height: 8px;
    position: absolute;
    right: 25px;
    top: 50%;
    /* 矢印を垂直方向で中央に揃える */
    transform: translateY(-50%) rotate(135deg);
    /* 矢印を下向きに */
    transition: transform 0.3s ease-in-out;
    width: 8px;
    color: #00bfff;
}

.subject_edit_btn.open::after {
    transform: translateY(-50%) rotate(-45deg);
    /* 矢印を上向きに変更 */
}

.search_edit {
    margin-top: 10px;
}

.edit_sub {
    display: flex;
    margin-top: 10px;
    align-items: flex-end;
}

/* モーダル */
.modal {
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}

.modal__bg {
    background: rgba(0, 0, 0, 0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
}

.modal__content {
    background: #fff;
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
}

/* login.blade.php */
.login-border {
    border-radius: 10px;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2);
    width: 26%;
    background: #fff;
}

.login-border1 {
    border-radius: 10px;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2);
    width: 26%;
    background: #fff;
    margin-top: 60px;
    margin-bottom: 60px;
}

.atlasLogo {
    width: 150px;
    margin-bottom: 30px;
}

.background {
    background: #ECF1F6;
}

/* posts.blade.php */
.postbrn {
    border-radius: 5px;
    padding: 0 5px;
    border: none;
    background: #03AAD2;
    color: #FFF;
    margin-bottom: 15px;
    text-align: center;
    text-decoration: none;
}

.postbtn_a {
    background: #03AAD2;
    display: block;
    text-decoration: none;
    color: #fff;
    text-align: center;
    margin-bottom: 15px;
    border-radius: 6px;
    opacity: 0.7;
    /* background-color: rgba(3, 170, 210, 0.4); */
    border: #03AAD2;
    /* color: inherit; */
}

.postbtn_a:hover {
    cursor: pointer;
    color: #fff;
    opacity: 1;
    transition: all .3s ease 0s;
    text-decoration: none;
}

.postbtn_b {
    color: #fff;
}


.post_name {
    color: inherit;
    font-weight: bolder;
}

.postbrn_like1 {
    border-radius: 5px;
    padding: 0 5px;
    border: none;
    background: #ff69b4;
    color: #FFF;
    opacity: 0.7;
}

.postbrn_like:hover {
    cursor: pointer;
    color: #fff;
    opacity: 1;
    transition: all .3s ease 0s;
    text-decoration: none;
}

.postbrn_like {
    border-radius: 5px;
    padding: 0 5px;
    border: none;
    background: #ff69b4;
    color: #FFF;
    opacity: 0.7;

}

.postbrn_mine1 {
    border-radius: 5px;
    padding: 0 5px;
    border: none;
    background: #ffa500;
    color: #FFF;
    opacity: 0.7;
    margin-left: 3px;
    padding: 0px 15px;
}

.postbrn_mine:hover {
    cursor: pointer;
    color: #fff;
    opacity: 1;
    transition: all .3s ease 0s;
    text-decoration: none;
}

.postbrn_mine {
    border-radius: 5px;
    padding: 0 5px;
    border: none;
    background: #ffa500;
    color: #FFF;
    width: 100px;
    opacity: 0.8;
}

/*アコーディオンメニュー */
.accordion {
    margin-left: 0;
    margin-right: 0;
    max-width: 300px;
    position: relative;
    width: 100%;
}

.accordion-title {
    /* color: #fff;
    cursor: pointer; */
    font-size: 20px;
    /* padding: 10px 30px;
    justify-content: end;
    margin-left: 15px; */
}

.accordion-content {
    display: none;
    color: #808080;
    /* position: absolute; */
    /* right: 0; */
    /* top: 100%; */
    /* z-index: 10; */
    /* background-color: #fffffb; */
    /* width: 100%; */
    /* border: none; */
}

.accordion-content p {
    font-size: 13px;
    line-height: 1.5;
}

/* コンテンツボックスの枠線 */
/* .accordion-item:nth-of-type(1) .accordion-content {
    border-bottom: 2px solid #333;
    border-left: 2px solid #333;
    border-right: 2px solid #333;
} */

/* 矢印 */

.accordion-title {
    position: relative;
    padding-right: 50px;
    border-bottom: 1px solid #a9a9a9;
}

.accordion-title::after {
    border-right: solid 2px #3b3939;
    border-top: solid 2px #3b3939;
    content: "";
    display: block;
    height: 8px;
    position: absolute;
    right: 25px;
    top: 50%;
    /* 矢印を垂直方向で中央に揃える */
    transform: translateY(-50%) rotate(135deg);
    /* 矢印を下向きに */
    transition: transform .3s ease-in-out;
    width: 8px;
}

.js-accordion-title.open::after {
    transform: translateY(-50%) rotate(-45deg);
    /* 矢印を上向きに変更 */
}

.post_ul {
    margin-bottom: 0;
}

.sub_categories_name {
    margin: 5px 20px;
    border-bottom: 1px solid #a9a9a9;
}

.post_input {
    border-radius: 5px;
    border: none;
}

.main_categories {
    color: #808080;
}

.post_p {
    margin: 5px 0;
    color: #808080;
}

/* post_detail.blade.php */
.post_btn_style {
    border-radius: 7px;
    padding: 5px 15px;
}

/* search.blade.php */
.free_word {
    outline: none;
    border: none;
    background-color: gainsboro;
    border-radius: 5px;
    padding: 10px;
    margin-left: 10px;
    margin-bottom: 15px;
}

.free_select {
    outline: none;
    border: none;
    background-color: gainsboro;
    border-radius: 5px;
    padding: 7px;
    margin-left: 10px;
    margin-bottom: 15px;
    font-size: 13px;
}

.free_select_role {
    outline: none;
    border: none;
    background-color: gainsboro;
    border-radius: 5px;
    padding: 7px;
    /* margin-left: 10px; */
    margin-bottom: 15px;
    font-size: 13px;
}

.search_word {
    color: #708080;
    font-size: 20px;
    margin: 20px 10px 15px;
}

.category_word {
    color: #708080;
    margin-left: 10px;
}

.category_sex {
    color: #708080;
    margin: 0;
}

.btn_search {
    padding: 5px 120px;
    margin: 15px 30px;
}

.search_reset {
    outline: none;
    border: none;
    color: #03AAD2;
    margin-left: 135px;
}

.search_add {
    margin-left: 10px;
}

.search_span {
    color: #708080;
}

.label_black {
    color: black;
}

.label_black_sub {
    color: black;
    margin-right: 10px;
}

.subcategory_select {
    display: flex;
}

.sex_size {
    margin: 10px 0;
}

/* .reserve {
    background-color: white;
} */

tr.text-center_reserve:nth-child(even) {
    background-color: #e0ffff;
}

.text-center_reserve {
    text-align: center;
}

.reserve_border {
    border-radius: 10px;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2);
    background-color: white;
}

.reserve_table {
    width: 100%;
}

.reserve_ID {
    text-align: center;
    background-color: #03AAD2;
    border-radius: 9px 0 0;
    color: white;
}

.reserve_name {
    text-align: center;
    background-color: #03AAD2;
    color: white;
}

.reserve_place {
    text-align: center;
    background-color: #03AAD2;
    border-radius: 0 9px 0 0;
    color: white;
}

/* reserve_setting.blade.php */
.btn_reserve {
    margin-left: 780px;
    margin-top: 20px;
    /* margin-bottom: 10px; */
}

.btn_parts {
    margin-top: 20px;
}

.cala_year {
    text-align: center;
}

.calendar_table {
    margin: auto !important;
}
